* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hiden;
}

/*work like body*/
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #444444;
  text-align: left;
  line-height: 1.5;

  background: url("./bg-pattern.png"), #FAFBFF;
  /* fallback for old browsers */
  background: url("./bg-pattern.png"), -webkit-linear-gradient(to left, #FAFBFF, #FAFBFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("./bg-pattern.png"), linear-gradient(to left, #FAFBFF, #FAFBFF);

  background-attachment: fixed;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.loader {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.redirect_to_signin {
  color: #6C6CCA; 
  border-color: #6C6CCA; 
  background-color: white
}

.redirect_to_login {
  color: #6C6CCA; 
  border-color: #6C6CCA; 
  background-color: white
}

/* selections made by the user dragging along text */

::selection {
  background: #6C6CCA; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: white; /* Gecko Browsers */
}

.underlineprice{
  text-decoration: underline;
}

.cancel{
  position:absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.emoji{
  height: 25px;
}

.events{
  text-align: center !important;
}

.bridge{
  height: 90px;
  background-color: white;
  border: 1px solid white;
}

.infoproduct{
  margin-bottom: 0px !important; 
  padding: 0px !important; 
  border-radius: 0px 0px 0px 0px; height: 50px;
  text-align: left !important;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #EAE7EC;  
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.list-group-item:last-child{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.aktive{
  background-color: #6C6CCA !important;
  border-color: #6C6CCA !important;
  color: white !important;
}

.aktive:hover{
  background-color: #6060B1 !important;
  border-color: #6060B1 !important;
  color: white !important;
}

.up{
  background-color: #FAFBFF;
  border-bottom: 1px solid #6C6CCA;
}

.jumbotron{
  background-color: #FAFBFF !important;
}

.button{
  background-color: #6C6CCA;
  border-bottom: 1px solid #6C6CCA;
  color: white;
}

.form-bid {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 300px;
  height: 0px;
}
.form-bid .checkbox {
  font-weight: 400;
}
.form-bid .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-bid .form-control:focus {
  z-index: 2;
}

.form-bid input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-bid input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login_signin_link{
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 375px;
  height: 0px;
}


.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 375px;
  height: 0px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.firstnameSignin {
  top:1px;
}

.lastnameSignin {
  top:1px;
  border-radius: 0px !important;
}

.emailSignin {
   top:1px;
  border-radius: 0px !important;
}


.form-login {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 300px;
  height: 0px;
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.iconfacebookgoogle{
  height: 30px; 
  width: 30px;
}

.rainbow:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}