<template name="bid">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pulse - Let's Start Bidding!</title>

    {{ > bootstraplinks}}

  </head>

  <body class="text-center">

    <img class="cancelbtnbid cancel" src="/cancel.png">

    <div class="up jumbotron">
        <h3>Remaining Time:</h3>
        <h2 style="color: #6C6CCA" id="time_output">{{timeRemaining events.bidAt events.buyAt}}s // {{milisecond events.bidAt events.buyAt}}ms</h2>
        <h3>Item Price:</h3>
        <h2 style="color: #6C6CCA" id="item_price">{{price events.product_initialPrice events.bidAt events.buyAt }} €</h2>
        <p>Today Prize: <span style="background-color: #6BFEF6">{{events.product_name}}</span></p>
    </div>

    <form class="form-bid message" id="signin">
      <br>
      <br>
      <br>
      <br>

      <p class="h5 font-weight-normal" id="rules" style="display: block;">RULES: the first one to Bid win the Prize</p>
      <p class="h3 font-weight-normal" id="finished" style="display: none; color: red;">Finished! click on <br><a class="trophybtnbid rainbowwithhover">Winnerboard</a></p>

      <input type="hidden" class="itemid" value="{{events.product_ID}}">
      <input type="hidden" class="eventid" value="{{events._id}}">
      <input type="hidden" class="itemprice" value="{{price events.product_initialPrice events.bidAt events.buyAt}}">

      <br>

      <div class="checkbox mb-3">
        <label class="customcheck">
          <input type="checkbox" id="surebid" style=""><span id="surebid_text" style="color:red">I'm sure, I want to bid</span>
      </label>
      </div>

      <br>
      
      <button id="bidbtn" class="button rainbow btn btn-lg btn-block" type="submit">Pay now!</button>
      
      <br>
      
      <p>Pulse app</p>
    </form>

</body>
</template>
