<template name="home">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pulse - Home</title>

    {{ > bootstraplinks}}

</head>


<body class="text-align">
    <section style="background-color: transparent !important;" class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hello!</h1>
          <p class="lead text-muted">Here is the list of Pulse Events,<br>join today challenge now!</p>
          <br>
          <a class="lead todayfilter">Today</a> - <a class="lead incomingfilter">Incoming</a> - <a class="lead pastfilter">Past</a> - <a class="lead allfilter">All</a>

          <br>
          <br>

          <div class="todaycontainer list-group">
            <h4 class="text-muted" style="text-align: left;">Today challenge <img src="/tada.png" class="emoji" alt="tada"></h4>
          {{#if Template.subscriptionsReady}}
            {{#each event_today_list}}
                {{> eventlist}}
                <!-- with aktive and rainbow -->
                <!-- <form class="eventselection">
                  <button type="submit" class="aktive rainbow events list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{event_name}}</h5>
                      <small>{{event_location}}</small>
                    </div>
                    <p class="mb-1">Prize: {{ product_name }}<br> Beginning Price: <span class="underlineprice">{{ product_initialPrice }}€</span></p>
                    <small>{{formatDate event_date}} - {{event_time}}</small>
                    <input type="hidden" class="eventID" value="{{_id}}">
                    <input type="hidden" class="eventtime" value="{{event_date}}">
                     </button>
                  </form> -->

            {{/each}}
            {{else}}
              {{> loader}}
          {{/if}}
          </div>

          <div class="incomingcontainer list-group">
            <h4 class="text-muted" style="text-align: left;">Incoming challenges <img src="/soon.png" class="emoji" alt="tada"></h4>
          {{#if Template.subscriptionsReady}}
            {{#each event_incoming_list}}
                {{> eventlist}}
            {{/each}}
            {{else}}
              {{> loader}}
          {{/if}}
          </div>

          <div class="pastcontainer list-group">
            <h4 class="text-muted" style="text-align: left;">Past challenges</h4>
          {{#if Template.subscriptionsReady}}
            {{#each event_past_list}}
                {{> eventlist}}
            {{/each}}
            {{else}}
              {{> loader}}
          {{/if}}
          </div>


          <br>
          <br>
          <br>
          <button id="logout" class="logout button btn-danger btn-lg btn-block">Log out</button>
          <button id="signinLogin" class="signin btn-lg btn-block redirect_to_signin">Sign or Log in</button>

        </div>
    </section>
</body>

</template>