<template name="landing">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Welcome to Pulse app</title>

    {{ > bootstraplinks}}
    {{ > bootstraplinksSocialButton}}

</head>

<body class="text-align">

        <div class="jumbotron" style="text-align: center; background-color: transparent !important;">
            <h2>Welcome on Pulse</h2>
        </div>

        <div class="container">
            <p class="lead text-muted" style="text-align: center;">Ici message accrocheur</p>
        </div>

        <div class="loginandsigninlink">
            <button class="redirect_to_signin btn-success">Sign up</button>
            <button class="redirect_to_login button">Log in</button>
        </div>

</body>

    <body style="text-align:center">
    <div class="btn-group">
        <a class='redirect_to_loginGoogle btn btn-danger disabled'><i class="fa fa-google-plus" style="width:16px; height:20px"></i></a>
        <a class='redirect_to_loginGoogle btn btn-danger' href='' style="width:12em;"> Sign in with Google</a>
    </div>
    <br /><br />
    <div class="btn-group">
        <a class='redirect_to_loginFB btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
        <a class='redirect_to_loginFB btn btn-primary ' href='' style="width:12em"> Sign in with Facebook</a>
    </div>
    <br /><br />
    <div class="btn-group">
        <a class='btn btn-info disabled'><i class="fa fa-twitter" style="width:16px; height:20px"></i></a>
        <a class='btn btn-info ' href='' style="width:12em"> Sign in with Twitter</a>
    </div>
    <br /><br />
    </body>
</template>
