<template name="signin">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Pulse app</title>

    {{ > bootstraplinks}}

    
</head>

<body class="text-align">

        <div class="jumbotron" style="text-align: center; background-color: transparent !important;">
            <h2>Create your account</h2>
        </div>
        <!-- <div class="container">
            <p class="lead text-muted" style="text-align: center;">Ici message accrocheur</p>
        </div> -->

        <form class="register form-signin" id="register">
            <input type="text" id="inputFirstnameSignin" class="firstnameSignin form-control" placeholder="Your first name" required="" autofocus="">
            <input type="text" id="inputLastnameSignin" class="lastnameSignin form-control" placeholder="Your last name" required="" autofocus="">
            <input type="email" id="inputEmailSignin" class="emailSignin form-control" placeholder="Email (will be hidden)" required="" autofocus="">
            <input type="password" id="inputPasswordSignin" class="passwordSignin form-control" placeholder="Password" required="" autofocus="">
            <div class="checkbox mb-3">
                <label class="customcheck">
                  <input type="checkbox" id="age">J’accepte la politique de confidentialité, les conditions générales, et la politique des données.
                </label>
            </div>
            <button class="button btn-lg btn-block" type="submit">Sign up!</button>
            <br>
            <h4 style="text-align: center;">You already have an account ? <br><a class="redirect_to_login" style="color: #6C6CCA;">Log in</a></h4>
        </form>        

</body>
</template>
